*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  background-color: #00ff40; }

.navbar:before,
.navbar:after {
  content: ' ';
  display: table; }

.navbar:after {
  clear: both; }

.navbar {
  display: none;
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent; }

.logo {
  width: 2rem; }

@media (min-width: 768px) {
  .navbar {
    border-radius: 4px; } }
